{% load wagtailimages_tags %}

<div class="col-sm-6">
    <figure class="gallery-figure">
        <a href="http://128.125.20.23:8000/mit-our-alma-mater"> <img src="/media/images/mit-album.jpg" width="800" height="400" class="img-responsive" /></a>
        <figcaption>MIT, Our Alma Mater!</figcaption>
    </figure>
</div>
{{ image.title }}


<div class="col-sm-6">
    <figure class="gallery-figure">
        <a href="http://128.125.20.23:8000/beauty-bostoncambridge/"> <img src="/media/images/boston-album.jpg" width="800" height="400" class="img-responsive" /></a>
        <figcaption>The Beauty of Boston/Cambridge</figcaption>
    </figure>
</div>
{{ image.title }}


<div class="col-sm-6">
    <figure class="gallery-figure">
        <a href="http://128.125.20.23:8000/snapshot-new-england/"> <img src="/media/images/england-album.jpg" width="800" height="400" class="img-responsive" /></a>
        <figcaption>A Snapshot of New England</figcaption>
    </figure>
</div>
{{ image.title }}
